{% extends "base.html" %}

{% block title %}Menu{% endblock %}
{% block link %} 
<link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}"> 
<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inknut Antiqua' rel='stylesheet'>
{% endblock %}

{% block content %}
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-target="#mynavbar" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h3 class="navbar-brand">Food <i class="glyphicon glyphicon-cutlery"></i> Zone</h3>
		</div>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="nav navbar-nav">
				<li><a href="{{url_for('restaurants')}}">Home <span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href="#appetizers">Appetizer</a></li>
				<li><a href="#main_course">Main Course</a></li>
				<li><a href="#dessert">Dessert</a></li>
				<li><a href="#beverages">Beverages</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if session['email'] %}
				{% if session['username'] == username %}
				<li><a href="{{url_for('my_restaurants')}}">My Restaurants</a></li>
				<li><a href="{{url_for('new_menu', restaurant_id=restaurant_id)}}" class="unstyle">Add Menu item</a></li>
				{% endif %}
				<li><a href="{{url_for('logout')}}">Sign out <span class="glyphicon glyphicon-user"></span></a></li>
				<li><img src="{{session['picture']}}" alt="display photo" class="img-circle" width="45px"></li>
				{% else %}
				<li><a href="{{url_for('login')}}">Sign In <span class="glyphicon glyphicon-user"></span></a></li>
			{% endif %}
			</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h2><strong>Menu</strong></h2></div>
				<div class="panel-body">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-success alert-dismissable">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{ message }}</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
					<h5 class="text-center"><blockquote>Greetings from {{ name }}! <br> What would you like to order?
					</blockquote></h5>

							<div class="row appetizers" id="appetizers">
								<div class="col-sm-12">	
									<div class="category text-center"><h3>Appetizers</h3></div>
									<br>
									{% for i in menu_items %}
									{% if i.course == 'Appetizers' %}
									<div class="row">
										<div class="col-sm-8">
											<h4>Name:  <span><strong>{{i.menu_name}}</strong></span>
											<div class="row">
												<div class="col-sm-4"><h5>Description: </h5></div>
												<div class="col-sm-8"><h5>{{ i.description }}</h5></div>
											</div>
										</div>
										<div class="col-sm-4">
											{% if i.image %}
											<img src="{{ i.imgsrc }}" alt="Food" width="130px" height="100px" class="img-rounded">
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<h4>Price:  <strong>${{i.price}}</strong></h4>
										</div>
										{% if 'username' not in session %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% elif session['username'] != i.user %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% endif %}
									</div>

									{% if session['username'] %}
									{% if session['username'] == i.user %}
									<div class="row shift">
										<div class="col-sm-offset-7 col-sm-2">
        								<a href="{{url_for('menu_edit', restaurant_id=restaurant_id, menu_id=i.id)}}">
										<button class="btn btn-primary edit">Edit</button></a></div>
										<div class="col-sm-1">
										<button type="button" class="btn btn-danger del" data-toggle="modal" data-target="#myModal{{i.id}}">Delete</button>
										<div class="modal fade" id="myModal{{i.id}}" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h3 class="modal-title">Are you sure?</h3>
													</div>
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-6">
																<a href="{{url_for('menu_delete', restaurant_id=restaurant_id, menu_id=i.id)}}"><button class="btn btn-danger pull-right" type=button>Delete</button></a>	
															</div>
															<div class="col-sm-6">
																<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										</div>
									</div>
									{% endif %}
									{% endif %}
									<hr>
									{% endif %}
								    {% endfor %}
								</div>
							</div>

							<div class="row main_course" id="main_course">
								<div class="col-sm-12">	
									<div class="category text-center"><h3>Main Course</h3></div>
									<br>
									{% for i in menu_items %}
									{% if i.course == 'Main Course' %}
									<div class="row">
										<div class="col-sm-8">
											<h4>Name:  <span><strong>{{i.menu_name}}</strong></span>
											<div class="row">
												<div class="col-sm-4"><h5>Description:</h5></div>
												<div class="col-sm-8"><h5>{{ i.description }}</h5></div>
											</div>
										</div>
										<div class="col-sm-4">
											{% if i.image %}
											<img src="{{ i.imgsrc }}" alt="Food" width="130px" height="100px" class="img-rounded">
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<h4>Price:  <strong>${{i.price}}</strong></h4>
										</div>
										{% if 'username' not in session %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% elif session['username'] != i.user %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% endif %}
									</div>

									{% if session['username'] %}
									{% if session['username'] == i.user %}
									<div class="row shift">
										<div class="col-sm-offset-7 col-sm-2">
        								<a href="{{url_for('menu_edit', restaurant_id=restaurant_id, menu_id=i.id)}}">
										<button class="btn btn-primary edit">Edit</button></a></div>
										<div class="col-sm-1">
										<button type="button" class="btn btn-danger del" data-toggle="modal" data-target="#myModal{{i.id}}">Delete</button>
										<div class="modal fade" id="myModal{{i.id}}" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h3 class="modal-title">Are you sure?</h3>
													</div>
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-6">
																<a href="{{url_for('menu_delete', restaurant_id=restaurant_id, menu_id=i.id)}}"><button class="btn btn-danger pull-right" type=button>Delete</button></a>	
															</div>
															<div class="col-sm-6">
																<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</div>
									</div>
									{% endif %}
									{% endif %}
									<hr>
									{% endif %}
								    {% endfor %}
								</div>
							</div>

							<div class="row desserts" id="dessert">
								<div class="col-sm-12">	
									<div class="category text-center"><h3>Desserts</h3></div>
									<br>
									{% for i in menu_items %}
									{% if i.course == 'Dessert' %}
									<div class="row">
										<div class="col-sm-8">
											<h4>Name:  <span><strong>{{i.menu_name}}</strong></span>
											<div class="row">
												<div class="col-sm-4"><h5>Description:</h5></div>
												<div class="col-sm-8"><h5>{{ i.description }}</h5></div>
											</div>
										</div>
										<div class="col-sm-4">
											{% if i.image %}
											<img src="{{ i.imgsrc }}" alt="Food" width="130px" height="100px" class="img-rounded">
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<h4>Price:  <strong>${{i.price}}</strong></h4>
										</div>
										{% if 'username' not in session %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% elif session['username'] != i.user %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% endif %}
									</div>

									{% if session['username'] %}
									{% if session['username'] == i.user %}
									<div class="row shift">
										<div class="col-sm-offset-7 col-sm-2">
        								<a href="{{url_for('menu_edit', restaurant_id=restaurant_id, menu_id=i.id)}}">
										<button class="btn btn-primary edit">Edit</button></a></div>
										<div class="col-sm-1">
										<button type="button" class="btn btn-danger del" data-toggle="modal" data-target="#myModal{{i.id}}">Delete</button>
										<div class="modal fade" id="myModal{{i.id}}" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h3 class="modal-title">Are you sure?</h3>
													</div>
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-6">
																<a href="{{url_for('menu_delete', restaurant_id=restaurant_id, menu_id=i.id)}}"><button class="btn btn-danger pull-right" type=button>Delete</button></a>	
															</div>
															<div class="col-sm-6">
																<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</div>
									</div>
									{% endif %}
									{% endif %}
									<hr>
									{% endif %}
								    {% endfor %}
								</div>
							</div>

							<div class="row beverages" id="beverages">
								<div class="col-sm-12">	
									<div class="category text-center"><h3>Beverages</h3></div>
									<br>
									{% for i in menu_items %}
									{% if i.course == 'Beverages' %}
									<div class="row">
										<div class="col-sm-8">
											<h4>Name:  <span><strong>{{i.menu_name}}</strong></span>
											<div class="row">
												<div class="col-sm-4"><span><h5>Description: </h5></span></div>
												<div class="col-sm-8"><h5>{{ i.description }}</h5></div>
											</div>
										</div>
										<div class="col-sm-4">
											{% if i.image %}
											<img src="{{ i.imgsrc }}" alt="Food" width="130px" height="100px" class="img-rounded">
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<h4>Price:  <strong>${{i.price}}</strong></h4>
										</div>
										{% if 'username' not in session %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% elif session['username'] != i.user %}
										<div class="col-sm-4"><button class="btn btn-success" type="button">Order</button></div>
										{% endif %}
									</div>

									{% if session['username'] %}
									{% if session['username'] == i.user %}
									<div class="row shift">
										<div class="col-sm-offset-7 col-sm-2">
        								<a href="{{url_for('menu_edit', restaurant_id=restaurant_id, menu_id=i.id)}}">
										<button class="btn btn-primary edit">Edit</button></a></div>
										<div class="col-sm-1">
										<button type="button" class="btn btn-danger del" data-toggle="modal" data-target="#myModal{{i.id}}">Delete</button>
										<div class="modal fade" id="myModal{{i.id}}" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header text-center">
														<h3 class="modal-title">Are you sure?</h3>
													</div>
													<div class="modal-body">
														<div class="row">
															<div class="col-sm-6">
																<a href="{{url_for('menu_delete', restaurant_id=restaurant_id, menu_id=i.id)}}"><button class="btn btn-danger pull-right" type=button>Delete</button></a>	
															</div>
															<div class="col-sm-6">
																<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										</div>
										</div>
										{% endif %}
										<hr>
									{% endif %}
									{% endif %}
								    {% endfor %}
								</div>
							</div>
				</div>
		</div>
	</div>
</div>
</body>
{% endblock %}

