.panel-heading, .panel-footer{
	background-color: #fcf8bf !important;
}

a{
	text-decoration: none !important;
	color: #8e000d !important;
}

a:hover {
	color: black !important;
}

button {
	box-shadow: 4px 4px 5px grey;
}
.del {
	margin-left: 30px;
}
ul li:last-child hr {
	display: none;
}
.panel-heading {
	letter-spacing: 13px;
}

h3 {
	padding-left: 10px;
	font-size: 1.8em;
	color: black !important;
	font-family: 'Croissant One';
}

h2 {

	font-family: 'Berkshire Swash';
	font-size: 2.5em;
	color: #420101;
}
.navbar-header a i {
	color: black;
}

.navbar-default {
	background-color: #ffeace !important;
	border-color: #ffeace !important;
}

.navbar-brand {
	font-size: 1.5em;
}

.modal-header {
	background-color: #eafff8 !important;
}

ul li h3 span {
	font-size: 0.7em;
}

ul li h3 a{
	padding-left: 20px;
}

.active a {
	background-color: #fff2f2 !important;
}

.navbar-header h3 {
	margin: 0px 10px 0px 10px;
}

.footer {
	background-color: black;
	color: white;
}

i {
	font-size: 1.4em !important;
}

.footer h5 a {
	color: white !important;
}
.fa-twitter:hover {
	color: #91ffea !important;
}
.fa-facebook-square:hover {
	color: #5ca9ed !important;
}
.fa-instagram:hover {
	color: #ed5c87 !important;
}

.footer .col-sm-8 h5{
	padding-top: 4px;
}
