{% extends "base.html" %}
{% block head %}
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/login.css">
<link href='https://fonts.googleapis.com/css?family=Croissant One' rel='stylesheet'>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-target="#mynavbar" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h3 class="navbar-brand">Food <i class="glyphicon glyphicon-cutlery"></i> Zone</h3>
		</div>
		<div class="collapse navbar-collapse" id="mynavbar">
			<ul class="nav navbar-nav">
				<li><a href="{{url_for('restaurants')}}">Home <span class="glyphicon glyphicon-home"></span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			{% if session['email'] %}
			<li><a class="unstyle" href="{{url_for('new')}}">Create Restaurant</a></li>
			<li><a href="{{url_for('logout')}}">Logout <span class="glyphicon glyphicon-user"></span></a></li>
			<li><img src="{{session['picture']}}" alt="display photo" class="img-circle" width="45px"></li>
			{% else %}
			<li class="active"><a href="{{url_for('login')}}">Sign in <span class="glyphicon glyphicon-user"></span></a>
			</li>
			{% endif %}
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row text-center">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="well">
				<h3>Login using Gmail</h3>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="well well-sm">
				<div id="signinButton">
					<span class="g-signin"
						data-scope="openid email"
						data-clientid="255567721517-b1r6i3p1dpp5tmrr0tvprt014hbrqgq9.apps.googleusercontent.com"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback"
						data-approvalprompt="force">
					</span>
				</div>
				<div id="result"></div>
				<script>
					function signInCallback(authResult) {
						if(authResult['code']) {
							$('#signinButton').attr("style","display:none");

							$.ajax({
								type:'POST',
								url:'/gconnect?state={{STATE}}',
								processData:false,
								data:authResult['code'],
								contentType:'application/octet-stream; charset=utf-8',
								success:function(result) {
									if (result) {
										$('#result').html(result)
										setTimeout(function(){
											window.location.href = "/restaurants";
										}, 4000);
									} else if (authResult['error']) {
										console.log('There was an error: '+ authResult['error']);
									} else {
										$('#result').html('Failed to make a server-side call');
									}
								}
							});
						}
					}
				</script>
			</div>
		</div>
	</div>
</div>

<div class='container-fluid footer navbar-fixed-bottom'>
	<footer>
		<div class="row">
			<div class="col-sm-8">
				<h5>Copyright 2017 - All Rights Reserved</h5>
			</div>
			<div class="col-sm-2">
				<h5 class="text-right"><span class="glyphicon glyphicon-envelope"> </span> support@foodzone.com</h5>
			</div>
			<div class="col-sm-2">
			<h5>Follow us: &nbsp<a href="#"><i class="fa fa-instagram"></i></a>
			 &nbsp &nbsp<a href="#"><i class="fa fa-twitter"></i></a>&nbsp &nbsp
			<a href="#"><i class="fa fa-facebook-square"></i></a></h5>
			</div>
		</div>
	</footer>
</div>

{% endblock %}